---
import Layout from "../layouts/Layout.astro"
import PortfolioImage from "../components/PortfolioImage.astro"

---

<Layout title="#36DaysOfType">
    <div class="container">
        <div class="grid">
            <PortfolioImage srcPath="/36DaysChallenge/A.jpg" altText="Render of letter A" />
            <PortfolioImage srcPath="/36DaysChallenge/B.jpg" altText="Render of letter B" />
            <PortfolioImage srcPath="/36DaysChallenge/C.jpg" altText="Render of letter C" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/36DaysChallenge/D.jpg" altText="Render of letter D" />
            <PortfolioImage srcPath="/36DaysChallenge/E.jpg" altText="Render of letter E" />
            <PortfolioImage srcPath="/36DaysChallenge/F.jpg" altText="Render of letter F" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/36DaysChallenge/G.jpg" altText="Render of letter G" />
            <PortfolioImage srcPath="/36DaysChallenge/H.jpg" altText="Render of letter H" />
            <PortfolioImage srcPath="/36DaysChallenge/I.jpg" altText="Render of letter I" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/36DaysChallenge/J.jpg" altText="Render of letter J" />
            <PortfolioImage srcPath="/36DaysChallenge/K.jpg" altText="Render of letter K" />
            <PortfolioImage srcPath="/36DaysChallenge/L.jpg" altText="Render of letter L" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/36DaysChallenge/M.jpg" altText="Render of letter M" />
            <PortfolioImage srcPath="/36DaysChallenge/N.jpg" altText="Render of letter N" />
            <PortfolioImage srcPath="/36DaysChallenge/O.jpg" altText="Render of letter O" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/36DaysChallenge/P.jpg" altText="Render of letter P" />
            <PortfolioImage srcPath="/36DaysChallenge/Q.jpg" altText="Render of letter Q" />
            <PortfolioImage srcPath="/36DaysChallenge/R.jpg" altText="Render of letter R" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/36DaysChallenge/S.jpg" altText="Render of letter S" />
            <PortfolioImage srcPath="/36DaysChallenge/T.jpg" altText="Render of letter T" />
            <PortfolioImage srcPath="/36DaysChallenge/U.jpg" altText="Render of letter U" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/36DaysChallenge/V.jpg" altText="Render of letter V" />
            <PortfolioImage srcPath="/36DaysChallenge/W.jpg" altText="Render of letter W" />
            <PortfolioImage srcPath="/36DaysChallenge/X.jpg" altText="Render of letter X" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/36DaysChallenge/Y.jpg" altText="Render of letter Y" />
            <PortfolioImage srcPath="/36DaysChallenge/Z.jpg" altText="Render of letter Z" />
            <PortfolioImage srcPath="/36DaysChallenge/0.jpg" altText="Render of number 0" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/36DaysChallenge/1.jpg" altText="Render of number 1" />
            <PortfolioImage srcPath="/36DaysChallenge/2.jpg" altText="Render of number 2" />
            <PortfolioImage srcPath="/36DaysChallenge/3.jpg" altText="Render of number 3" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/36DaysChallenge/4.jpg" altText="Render of number 4" />
            <PortfolioImage srcPath="/36DaysChallenge/5.jpg" altText="Render of number 5" />
            <PortfolioImage srcPath="/36DaysChallenge/6.jpg" altText="Render of number 6" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/36DaysChallenge/7.jpg" altText="Render of number 7" />
            <PortfolioImage srcPath="/36DaysChallenge/8.jpg" altText="Render of number 8" />
            <PortfolioImage srcPath="/36DaysChallenge/9.jpg" altText="Render of number 9" />
        </div>
        <p />
    </div>
</Layout>