---
import Layout from "../layouts/Layout.astro"
import PortfolioImage from "../components/PortfolioImage.astro"

---

<Layout title="Blender Portfolio">
    <div class="container">
        <div class="grid">
            <PortfolioImage srcPath="/BlenderPortfolio/ComplezxNight2-4k.png" altText="Render" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/BlenderPortfolio/Light-Fi Fog 11.png" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/Black1-1.png" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/Light-Fi Fog 21.png" altText="Render" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/BlenderPortfolio/Insta4Ver2.png" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/Black3-2.png" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/1.jpg" altText="Render" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/BlenderPortfolio/6.jpg" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/U.jpg" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/W.jpg" altText="Render" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/BlenderPortfolio/Fill.png" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/Fluid2.png" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/YellowBro.png" altText="Render" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/BlenderPortfolio/BulletKinSample2.png" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/Skully4-3.png" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/0090.jpg" altText="Render" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/BlenderPortfolio/Insta2Cycles.png" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/O.jpg" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/8.jpg" altText="Render" />
        </div>
        <p />
        <div class="grid">
            <PortfolioImage srcPath="/BlenderPortfolio/Q.jpg" altText="Render" />
            <PortfolioImage srcPath="/BlenderPortfolio/V.jpg" altText="Render" />
        </div>
        <p />
    </div>
</Layout>