---

---

<footer class="text-gray-500 body-font">
    <div
        class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
    >
        <p class="text-sm text-gray-500 sm:py-2 sm:mt-0 mt-4">
            © 2025 Lorenzo Era
        </p>
        <span
            class="inline-flex text-xl sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start"
        >
            <a class="ml-3 text-gray-500 hover:text-gray-300" href="https://github.com/LorenzoCode3">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="ml-3 text-gray-500 hover:text-gray-300" href="https://it.linkedin.com/in/lorenzo-era-it">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a class="ml-3 text-gray-500 hover:text-gray-300" href="https://www.instagram.com/lorenzoera_/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="ml-3 text-gray-500 hover:text-gray-300" href="https://www.facebook.com/lorenzo.era.3">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </span>
    </div>
</footer>
