---

---

<footer class="text-gray-500 body-font border-t border-gray-200 transition-colors duration-200 pb-12 mb-4">
    <div
        class="container px-6 py-10 mx-auto flex items-center sm:flex-row flex-col mt-4"
    >
        <p class="text-sm text-gray-600 mb-2 sm:py-2 sm:mt-0 mt-4">
            © 2026 Lorenzo Era
        </p>
        <span
            class="inline-flex text-2xl sm:ml-auto sm:mt-0 mt-6 justify-center sm:justify-end gap-4"
        >
            <a class="text-gray-600 hover:text-gray-900 transition-colors px-2" href="https://github.com/LorenzoCode3">
                <i class="fa-brands fa-github"></i>
            </a>
            <a class="text-gray-600 hover:text-gray-900 transition-colors px-2" href="https://it.linkedin.com/in/lorenzo-era-it">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a class="text-gray-600 hover:text-gray-900 transition-colors px-2" href="https://www.instagram.com/lorenzoera_/">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a class="text-gray-600 hover:text-gray-900 transition-colors px-2" href="https://www.facebook.com/lorenzo.era.3">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </span>
    </div>
</footer>

