---
const { title } = Astro.props;
---

<header class="text-gray-500 body-font">
    <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
    >
        <a
            class="text-gray-200 text-4xl flex title-font font-medium items-center mb-4 md:mb-0" href="/"
        >
            <i class="fa-solid fa-fingerprint"></i>
            <span class="ml-3 text-2xl">Lorenzo Era</span>
        </a>
        <nav
            class="md:ml-auto flex flex-wrap items-center text-base justify-center"
        >
            <a href="/" class="mr-5 hover:text-gray-300">Home</a>
            <a href="/projects" class="mr-5 hover:text-gray-300">Projects</a>
            <a href="/contacts" class="mr-5 hover:text-gray-300">Contacts</a>
        </nav>
    </div>
</header>
