---
const { title } = Astro.props;
---

<header class="container">
    <nav>
        <ul>
            <li>
                <h1 style="margin-bottom: 0;">Lorenzo Era</h1>
                <p style="margin-bottom: 0;">{title}</p>
            </li>
        </ul>
        <ul>
            <li><a href="/">Home</a></li> <!-- About -->
            <li><a href="/works/">Progetti</a></li> <!-- Portfolio -->
            <li><a href="/contacts/">Contatti</a></li>
        </ul>
    </nav>
</header>